<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SchoolsLanguage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SchoolsLanguage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SchoolsLanguage.Properties.Settings>
            <setting name="FirstColor" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondColor" serializeAs="String">
                <value>231, 250, 191</value>
            </setting>
            <setting name="AttentionColor" serializeAs="String">
                <value>4, 160, 255</value>
            </setting>
        </SchoolsLanguage.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SchoolsLanguage.Properties.Settings>
            <setting name="MainFont" serializeAs="String">
                <value>Comic Sans MS, 8.25pt</value>
            </setting>
        </SchoolsLanguage.Properties.Settings>
    </applicationSettings>
<connectionStrings><add name="DataBaseEntities" connectionString="metadata=res://*/ModelDB.Model.csdl|res://*/ModelDB.Model.ssdl|res://*/ModelDB.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlExpress;initial catalog=Db1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>